In [4]:
import numpy as np
import pandas as pd

In [4]:
random_ndarray = np.random.randint(0, 20, size=(2,3,4,5))

In [5]:
random_ndarray

array([[[[ 0, 19,  2, 16,  0],
         [ 5, 15, 14,  9, 10],
         [ 5,  6,  1, 15, 12],
         [16, 15, 16, 15, 16]],

        [[ 9, 15,  9, 13, 13],
         [ 2,  7,  4,  9, 19],
         [ 4, 17,  5,  7,  6],
         [ 2,  1,  9, 14, 10]],

        [[15, 12,  5,  8, 18],
         [12,  2,  3,  2,  8],
         [ 6,  3, 17,  2,  3],
         [16,  8,  4,  6, 17]]],


       [[[16, 14,  3,  0,  2],
         [ 9, 18,  4,  8, 10],
         [ 5, 13,  2, 10, 10],
         [ 8, 15,  7,  9,  6]],

        [[ 6, 11,  0,  5,  9],
         [13,  1, 16,  9, 15],
         [11, 15, 10,  5, 18],
         [ 1, 12, 15, 13,  0]],

        [[19,  2,  5, 16,  4],
         [ 6,  0, 14,  4,  7],
         [12,  1, 16,  3, 15],
         [ 7, 19, 17, 15, 14]]]])

In [6]:
random_ndarray.shape, random_ndarray.ndim

((2, 3, 4, 5), 4)

In [11]:
high_var_array = np.array([100, 300, 600, 50000, 600000])
low_var_array = np.array([2,4,6,8,10])

print('variance', np.var(high_var_array), np.var(low_var_array))
print('standard deviation', np.std(high_var_array), np.std(low_var_array))
print('mean', np.mean(high_var_array), np.mean(low_var_array))

variance 55548052000.0 8.0
standard deviation 235686.34241296205 2.8284271247461903
mean 130200.0 6.0

In [1]:
# Import Image
from matplotlib.image import imread
dog = imread('images/dog-photo-1.jpeg')
dog

array([[[0.70980394, 0.80784315, 0.88235295, 1.        ],
        [0.72156864, 0.8117647 , 0.8862745 , 1.        ],
        [0.7411765 , 0.8156863 , 0.8862745 , 1.        ],
        ...,
        [0.49803922, 0.6862745 , 0.8392157 , 1.        ],
        [0.49411765, 0.68235296, 0.8392157 , 1.        ],
        [0.49411765, 0.68235296, 0.8352941 , 1.        ]],

       [[0.69411767, 0.8039216 , 0.8862745 , 1.        ],
        [0.7019608 , 0.8039216 , 0.88235295, 1.        ],
        [0.7058824 , 0.80784315, 0.88235295, 1.        ],
        ...,
        [0.5019608 , 0.6862745 , 0.84705883, 1.        ],
        [0.49411765, 0.68235296, 0.84313726, 1.        ],
        [0.49411765, 0.68235296, 0.8392157 , 1.        ]],

       [[0.6901961 , 0.8       , 0.88235295, 1.        ],
        [0.69803923, 0.8039216 , 0.88235295, 1.        ],
        [0.7058824 , 0.80784315, 0.88235295, 1.        ],
        ...,
        [0.5019608 , 0.6862745 , 0.84705883, 1.        ],
        [0.49803922, 0.6862745 , 0.84313726, 1.        ],
        [0.49803922, 0.6862745 , 0.84313726, 1.        ]],

       ...,

       [[0.9098039 , 0.81960785, 0.654902  , 1.        ],
        [0.8352941 , 0.7490196 , 0.6509804 , 1.        ],
        [0.72156864, 0.6313726 , 0.5372549 , 1.        ],
        ...,
        [0.01568628, 0.07058824, 0.02352941, 1.        ],
        [0.03921569, 0.09411765, 0.03529412, 1.        ],
        [0.03921569, 0.09019608, 0.05490196, 1.        ]],

       [[0.9137255 , 0.83137256, 0.6784314 , 1.        ],
        [0.8117647 , 0.7294118 , 0.627451  , 1.        ],
        [0.65882355, 0.5686275 , 0.47843137, 1.        ],
        ...,
        [0.00392157, 0.05490196, 0.03529412, 1.        ],
        [0.03137255, 0.09019608, 0.05490196, 1.        ],
        [0.04705882, 0.10588235, 0.06666667, 1.        ]],

       [[0.9137255 , 0.83137256, 0.68235296, 1.        ],
        [0.76862746, 0.68235296, 0.5882353 , 1.        ],
        [0.59607846, 0.5058824 , 0.44313726, 1.        ],
        ...,
        [0.03921569, 0.10196079, 0.07058824, 1.        ],
        [0.02745098, 0.08235294, 0.05882353, 1.        ],
        [0.05098039, 0.11372549, 0.07058824, 1.        ]]],
      shape=(432, 575, 4), dtype=float32)

In [2]:
type(dog)

numpy.ndarray

In [3]:
dog.shape, dog.ndim

((432, 575, 4), 3)

In [6]:
np.random.seed(0)
sales_amounts = np.random.randint(20, size=(5, 3))

weekly_sales = pd.DataFrame(sales_amounts,
                            index=["Mon", "Tues", "Wed", "Thurs", "Fri"],
                            columns=["Almond butter", "Peanut butter", "Cashew butter"])

weekly_sales

       Almond butter  Peanut butter  Cashew butter
Mon               12             15              0
Tues               3              3              7
Wed                9             19             18
Thurs              4              6             12
Fri                1              6              7